@charset "utf-8";

	
p{
	text-indent:2em;
	font-size:16px;
	font-family:"微软雅黑";
	}
	
p jap{
	font-family:'Hiragino Mincho ProN','MS Mincho','宋体';
	}

#headline{
	text-align: center;
	font-size: 250%;
	font-family:'Hiragino Mincho ProN','MS Mincho','宋体';
	margin:10px;
	}
	
.summary{
	margin:10px;
	}

i{
	font-style:italic;
	}
	 
