@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	text-align: left;
	}

body{
	text-align:center;
	background-position:center;
	background-repeat:no-repeat;
	}

#container{ 
	margin:0 auto; 
	width:1024px; 
	border:0px;
	padding:0 0 0 0; 
	color:#FFFFFF} 


/*导航栏*/
#header{ 
	margin:0 auto; 
	width:1024px;  
	border:0px; 
	padding:20px 0 0 0;
	} 
	
.header_index{
	height:150px;
	}
	
.header_other{
	height:50px;
	}	
	
#div_l{
	float:left;
	bottom:0;
	}

#div_r{
	float:right;
	bottom:0;
	}

.div_l_index{
	width:492px;
	height:146px;
}

.div_r_index{
	width:532;
	padding:100px 0 0 0;
}

.div_l_other{
	width:400px;
	height:50px;
}

.div_r_other{
	width:600px;
	height:50px;
}

/*菜单动态*/
.menu_pic{
	float:left;
	width:128px;
	height:37px;
	padding:9px 0 0 0;
	}

.menu_pic:hover{
	float:left;
	width:128px;
	height:37px;
	padding:0 0 9px 0;
	}
/*-------*/



/*主体*/
#contents{
	margin:0 auto;
	width:1024px;
	height:670px;
	padding:13px 0 0 0;
	border:10px #FF0004;
	}
