@charset "utf-8";
/* style-CSS */


#container{ 
	text-align:center;
	margin:0 auto; 
	width:1024px; 
	border:0px;
	} 


/*导航栏*/
#header{ 
	margin:0 auto; 
	width:1024px;  
	border:0px; 
	} 
	
.header_index{
	height:110px;
	padding:20px 0 0 0;
	}
	
#div_l{
	float:left;
	bottom:0;
	}

#div_r{
	float:right;
	bottom:0;
	}

.div_l_index{
	width:492px;
	height:110px;
	}

.div_r_index{
	width:532;
	padding:64px 0 0 0;
	}

/*首页菜单动态*/
.li_tit{
	list-style:none;
	float:left;
	width:126px;
	height:37px;
	background:#f06090;
	line-height:37px;
	text-align:center;
	color:#fff;
	border-radius:15px;
	box-shadow:1px 1px  1px 0.5px #aaa;
	margin:9px 1px 0 1px;
	}

.li_tit:hover{
	box-shadow:3px 3px  1px 0.5px #aaa;
	margin:6px 1px 3px 1px;
	}
/*-------*/



/*主体*/
#contents{
	margin:0 auto;
	width:1024px;
	height:650px;
	padding:13px 0 0 0;
	border:10px #FF0004;
	}
	
.div_c1{
	width:1024px;
	height:520px;
	/*background:#3A00FF;*/
	}
	

.div_c1_1{
	width:724px;
	height:520px;
	float:left;
	margin:5px 5px 5px 5px;
	background:rgba(255,255,255,0.618);
	border-radius:20px;
	}
	
.div_c1_2{
	width:280px;
	height:520px;
	float:right;
	margin:5px 5px 5px 5px;
	background:rgba(255,255,255,0.618);
	border-radius:20px;
	}
	
.div_pic_display{
	display: table-cell;
	text-align: center;
	vertical-align:bottom;
	}
	
	
.div_c2{
	width:1000px;
	height:100px;
	margin:20px 12px 0 12px;
/*	background:rgba(255,255,255,0.618);    */
	}

.div_min{
	width:245px;
	height:100px;
	margin:0 2.5px 0 2.5px;
	border-radius:5px;
/*	background-color:#FF0004;  */
	float:left;
	overflow:hidden;
	}

#footer{
	width:1024px;
	height:40px;
	text-align:center;
	padding:10px 0 10px 0;
	}
	
#copyright {
	text-align:center;
	width:1024px;
	color:#383838;
	font-size:16px;
	line-height:1.2;
	}


.header_other{
	height:55px;
	position:fixed;/*固定作用*/
	top:0px;
	padding:0 0 5px 0;
	background-color:rgba(200,200,200,0.85);
	}	
	
.div_l_other{
	width:246px;
	height:55px;
	}

.div_r_other{
	width:auto;
	height:55px;
	}

/*导航栏列表*/
.li_nav{
	list-style:none;
	margin:25px 5px 0 5px;
	float:left;
	width:120px;
	height:30px;
	background:#f06090;
	line-height:30px;
	text-align:center;
	color:#fff;
	border-radius:10px;
	box-shadow:1px 1px  1px 0.5px #aaa;
	}

.li_nav:hover{
	box-shadow:3px 3px  1px 0.5px #aaa;
	margin:22px 5px 3px 5px;
	}
	/*-------*/

.content{
	width:1024px;
	padding:60px 0 0 0;
	/*height:auto;*/
	height:3000px;
	background-color:#4DFF93;
	}